<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TURS | Tezpur University Robotics Society</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    
    <!-- Animate css -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/tline.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto:100,400|Alegreya+Sans+SC:700" rel="stylesheet">
    <script src="https://use.typekit.net/bkt6ydm.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- Angular Js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="{% static 'app.js' %}"></script>
    <script src="{% static 'js/MemberController.js' %}"></script>
 


	<!-- Start Slideshow HEAD section -->
	<link rel="stylesheet" type="text/css" href="{% static 'engine0/style.css' %}" />
	<script type="text/javascript" src="{% static 'engine0/jquery.js' %}"></script>
	<!-- End Slideshow HEAD section --></head>
<body ng-app="myApp">
    
    <a href="top"></a>

     <!-- Header -->
     <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
        <div class="container">
            <!-- Toggle Button for mobile view -->
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>

   		<!-- <div class="col-md-10"> -->
            <div class="collapse navbar-collapse fill" id="navbarNavDropdown">           
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link navlinkcol1 slide-section" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navlinkcol1 slide-section" href="#about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navlinkcol1 slide-section" href="#objective">Objectives</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navlinkcol1 slide-section" href="/registration" target="new">Registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navlinkcol1 slide-section" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navlinkcol1 slide-section" href="#workshops">Workshops</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navlinkcol1 slide-section" href="#team">Team</a>
                    </li>
                </ul>
            </div>
        <!-- </div> -->
    </nav>
    <!-- Header Finishes Here -->
    {% block content %}

    {% endblock %}

    <!-- ***************** -->
    <!-- *****Footer****** -->
    <!-- ***************** -->
    <!-- Scripts -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="{% static 'js/animation-main.js' %}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap/bootstrap.js' %}" type="text/javasript"></script>
    <script src="https://use.fontawesome.com/4d6156a8c1.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>