{% extends "home/header.html" %}

{% block content %}
{% load staticfiles %}
<!-- Header Finishes Here -->
<div class="onebg">
    <div class="bottomlayer">
    <canvas id='world'></canvas>
    </div>
    <!--A Jumbotron Begins Here -->
    <div class="toplayer">
    <div class="jumbotron">
        <h1 class="display-1 cntrfnt"><span style="color:red;">T.U.</span>R.S.</h1>
        <h1 class="display-4 cntrfnt"><span id="frst">BUILD. </span><span id="scnd" style="color:red;">CREATE. </span><span id="thrd">LEARN.</span></h1>
    </div>
    </div>
</div>
<!--Jumbotron Ends Here -->
{% endblock %}