{% extends "home/header.html" %}

{% block content %}
<!DOCTYPE html>
<head>
    {% load staticfiles %}
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>T.U.R.S. Registration</title>

	 <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700|Josefin+Sans" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h4>REGISTRATION</h4>
		<h2>Join the T.U.R.S. Family</h2>
		<hr class="style-two"></hr>
		<div class="card">
  			<div class="container">
                <form class="site-form" id="contact" action=" " method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        {{ form.non_field_errors }}
                        {% for f in form %}
                        <div class="form-group">
                            {{ f.name.errors }}
                            <label for="{{ f.name.id_for_label }}">Name:</label>
                            {{ f.name }}
                        </div>
                        {% endfor %}
                        <input type="submit" value="Register" class="btn btn-primary btn-lg">SUBMIT</input>        
                </form> 
  			</div>
		</div>
	</div>
	<!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="{% static 'js/animation-main.js' %}" type="text/javascript"></script>

{% endblock %}
