{% extends "home/header.html" %}

{% block content %}
<!DOCTYPE html>
<head>
    {% load staticfiles %}
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>T.U.R.S. Registration</title>

	 <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700|Josefin+Sans" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h4>REGISTRATION</h4>
		<h2>Join the T.U.R.S. Family</h2>
		<hr class="style-two"></hr>
		<div class="card">
  			<div class="container">
                <form class="site-form" id="contact" action=" " method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-group">
                            {{ form.name.errors }}
                            <label for="{{ form.name.id_for_label }}">Name:</label>
                            {{ form.name }}
                        </div>
                        <div class="form-group">
                            {{ form.roll.errors }}
                            <label for="{{ form.roll.id_for_label }}">Roll no.:</label>
                            {{ form.roll }}
                        </div>
                        <div class="form-group">
                            {{ form.gender.errors }}
                            <label for="{{ form.gender.id_for_label }}">Gender :</label>
                            {{ form.gender }}
                        </div>
                        <div class="form-group">
                            {{ form.email.errors }}
                            <label for="{{ form.email.id_for_label }}">Email id :</label>
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            {{ form.phone.errors }}
                            <label for="{{ form.phone.id_for_label }}">Phone no. :</label>
                            {{ form.phone }}
                        </div>
                        <div class="form-group">
                            {{ form.course.errors }}
                            <label for="{{ form.course.id_for_label }}">Course:</label>
                            {{ form.course }}
                        </div>
                        <div class="form-group">
                            {{ form.photo.errors }}
                            <label for="{{ form.photo.id_for_label }}">Photo :</label>
                            {{ form.photo }}
                        </div>
                        <div class="form-group">
                            {{ form.id_card.errors }}
                            <label for="{{ form.id_card.id_for_label }}">ID card :</label>
                            {{ form.id_card }}
                        </div>
                        <input type="submit" value="Register" class="btn btn-primary btn-lg">SUBMIT</input>        
                </form> 
  			</div>
		</div>
	</div>
	<!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="{% static 'js/animation-main.js' %}" type="text/javascript"></script>

{% endblock %}
