{% extends "home/header.html" %}

{% block content %}
<div class="container">  
    <form id="contact" action="" method="post">
        <h3>Registration Form</h3>
        <h4>Get registered and be an member of TURS.</h4>
            <fieldset>
                <input placeholder="Your name" type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input placeholder="Your Email Address" type="email" tabindex="2" required>
            </fieldset>
            <fieldset>
                <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
            </fieldset>
            <fieldset>
                <input placeholder="Your Web Site starts with http://" type="url" tabindex="4" required>
            </fieldset>
            <fieldset>
                <textarea placeholder="What motivated you to join TURS? " tabindex="5" required></textarea>
            </fieldset>
            <fieldset>
                    <textarea placeholder="What are your expectations from TURS? " tabindex="6" required></textarea>
                </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
    </form>
</div>

{% endblock %}
